.container {
    position: relative;
    height: 100%;
    background-color: #f5f8fa;
    padding: 0 20px 0 20px;
    overflow-x: hidden;
    overflow-y: scroll;

    div {
        height: 100%;
        background-color: #fff;
    }
}