.container {
    height: 100%;
    flex: 0.15;
    justify-content: center;
    background-color: rgba(26, 44, 60, 1);
    color: white;


    .imgWrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1em 0;
    
        img {
            height: 50px;
            width: 50px;
        }
    }
    
    .list {
        display: flex;
        flex-direction: column;
        padding: 1em;
    
        a {
            padding: 1em 0;
        }

        .activeLink {
            color: #ec691e
        }
    }
}
