.container {
    height: 100%;
    flex: 0.85;
    overflow: hidden;

    header {
        padding: 1em 1em;
        border-bottom: 1px solid #c9c9c9;

        h1 {
            margin: 0;
        }
    }
}